header{
    background-color: #333456;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo{
    width: 150px;
}

.navlink a{
    color: #fff;
}

.navlink a:hover{
    color: rgba(255, 255, 255, 0.628);
}

.icon-border{
    border: 1px solid rgba(255, 255, 255, 0.699);
    border-radius: 17px;
}

.login-border{
    border-radius: 15px;
    background-color: #F4ABC4;
    width: 95px;
    text-align: center;
}


.header-right li{
    margin-left: 10px;
    margin-right: 10px;
}

.content-first{
    background-color: #060930;
    padding-bottom: 80px;
}
.isi{
    padding-top: 85px;
}

.input-search input{
    width: 735px;
    height: 35px;
    border: none;
    outline: none;
    margin-left: 10px;
    background-color: #FFFFFF;
}

.input-search .btn1{
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    background-color: #F4ABC4;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.input-search .btn1{
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    background-color: #F4ABC4;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.input-search .btn2{
    margin-right: 5px;
    border-radius: 4px;
    border: none;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: #fff;
    padding-left: 8px;
    padding-right: 8px;
}

.btn1 i{
    color: #FFFFFF;
}

.search-box{
    border-radius: 7px;
    background-color: #FFFFFF;
    width: 795px;
    height: 40px;
    text-align: center;
    display: flex;
}

.balance{
    border-radius: 7px;
    background-color: #FFFFFF;
    width: 145px;
    height: 40px;
    text-align: center;
}

.balance p{
    margin-right: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.balance i{
    color: #F4ABC4;
}

.content-second{
    background-color: #595B83;
    padding-top: 60px;
}

.isi-konten{
    padding-top: 20px;
    padding-bottom: 15px;
}

.judul h4{
    color:#F4ABC4;
    font-weight: 700;
}

.judul h1{
    color:#F4ABC4;
    font-weight: 700;
}

.btn-more button{
    width: 80px;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 6px;
    background-color: #F4ABC4;
    border: none;
}

.pilihan{
    width: 396px;
    height: 379px;
    transition: 0.5s;
}

.dropdown-menu{
	width: 350px;
	padding: 0!important;
	height: 350px;
    right: -130px;
}

.menu2{
	width: 350px !important;
	padding: 0!important;
	height: 350px !important;
    right: -14px !important;
}

.gambar img{
	margin-left: 130px;
	margin-right: 125px;
	width: 90px;
	height: 90px;
}

.vocher a:active{
    color: #F4ABC4;
}

.nav-link:focus{
    color: #F4ABC4 !important;
}

.teksdrop{
	font-size: 13px;
	margin-left: 84px;
    margin-right: 65px;
	padding-top: 10px;
}

.isi-drop{
	margin-top: 85px;
	margin-bottom: 110px;
}


.isi-drop2 a{
    color: black !important;
    text-decoration: none;
    transition: 0.3s;
}

.isi-drop2 a:hover{
    color: #F4ABC4 !important;
    font-size: large;
}
.col{
    text-align: center;
}

.brand{
    width: 345px;
    margin: 12px;
    transition: 0.3s;
}

.content-third{
    background-color: #060930;
}

footer{
    background-color: #333456;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.logo-footer img{
    width: 200px;
}

.h1-footer h1{
    font-weight: 700;
    color: #fff;
    font-size: 28px;
}

.teks-foot{
    margin-left: 14px;
}

.teks-foot p{
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 13px;
}

.email input{
    width: 120px;
    height: 28px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.email{
    width: 200px;
    height: 30px;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.massage{
    width: 240px;
    height: 150px;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.massage textarea{
    margin-left: 10px;
    margin-top: 1px;
    width: 225px;
    height: 148px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.button button{
    margin-top:30px;
    width: 90px;
    height: 35px;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #F4ABC4;
    border: none;
    background-color: #595B83;
}

.back{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #F4ABC4;
    margin-bottom: 10px;
    margin-left: 45px;
    transition: 0.3s;
}

.back:hover{
    width: 60px;
    height: 60px;
    margin-left: 30px;
}

.insta{
    margin-top: 20px;
}

.insta i{
    margin-top: 25px;
    margin-left: 11px;
    color: black;
}

.facebook i{
    margin-top: 25px;
    margin-left: 14px;
    color: black;
}

.tweet i{
    margin-top: 26px;
    margin-left: 10px;
    color: black;
}

.mail i{
    margin-top: 25px;
    margin-left: 9px;
    color: black;
}

.mail{
    margin-bottom: 180px;
}

.home{
    margin-top: 20px;
}

.home a{
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.home a:hover{
    font-size: large;
}

.home a:hover{
    color : rgba(255, 255, 255, 0.628);
}

.explore{
    margin-bottom: 252px;
}

.desc{
    color: white;
    margin-right: 364px;
    text-align: left;
}

.gambar2 img{
    width: 95px;
    height: 18px;
}

.warna{
    background-color: rgba(255, 255, 255, 0.628);
    width: 50px;
    height: 20px;
    padding-bottom: 24px;
    border-radius: 7px;
    margin-right: 9px;
    text-align: center;
    cursor: pointer;
}

.warna:active{
    background-color: #F4ABC4 !important;
}

.biru:hover{
    background-color:rgba(63, 101, 255, 0.977);
}

.kuning:hover{
    background-color:rgba(254, 254, 105, 0.977);
}

.pink:hover{
    background-color:rgba(248, 93, 232, 0.977);
}

.ukuran{
    background-color: rgba(255, 255, 255, 0.628);
    width: 50px;
    height: 20px;
    padding-bottom: 24px;
    border-radius: 7px;
    margin-right: 9px;
    text-align: center;
    cursor: pointer;
}

.ukuran:hover{
    background-color: #F4ABC4
}


.btn{
width:47px;
height:34px;
background:#f2f2f2;
border-radius:4px;
padding-top: 2px;
color: black;
border:1px solid #ddd;
display: inline-block;
vertical-align: middle;
text-align: center;
}

input{
height:34px;
width: 54px;
text-align: center;
font-size: 13px;
border:1px solid #ddd;
border-radius:4px;
display: inline-block;
vertical-align: middle;
}

.cart-border{
            border-radius: 15px;
            background-color: #595B83;
            width: 148px;
            text-align: center;
            color: #F4ABC4;
}

.cart-border:hover{
            color: #f4abc5b3;
}
